<div class="game-over">
  <div class="game-over__heading glitch">
    <span class="glitch__text" aria-hidden="true">Death by <%= cod %>.</span>
    Death by <%= cod %>.
    <span class="glitch__text" aria-hidden="true">Death by <%= cod %>.</span>
  </div>
  <div class="game-over__sub-heading type-text mb-xl" id="<%- level %>-description"><%= description %></div>

  <div class="play-again">Give love another chance?</div>
</div>
