<div class="win">
    <div class="win__greeting">
      <span class="glitch-text" aria-hidden="true"><%= greeting %></span>
      <%= greeting %>
      <span class="glitch-text" aria-hidden="true"><%= greeting %></span>
    </div>
    <div class="win__body"><%= body %></div>
    <div class="win__closing"><%= closing %>,</div>
    <div class="win__signature"><%= signature %></div>
    <div class="win__ps"><%= ps %></div>
    <div class="win__play-again"><%= playAgain %></div>
    <div class="hidden level"><%= level %></div>
  </div>