<p class="type-text" id="<%-`${level}-context`%>"><%- context %></p>
<br />
<br />
<br />
<br />
<p class="type-text" id="<%-`${level}-question`%>"><%- question %></p>
<br />
<br />
<br />
<br />
<br />
<div class="choices" id="<%- `${level}-choices` %>">
  <% choices.forEach((choice) => { %> <%- include("choice", {choice: choice,
  level: level}); %> <% }); %>
</div>
